/* Ctrl : */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9b619;
    color: #31386b
    
}

/* Título "Formulário" */
h1 {
    color: #31386b;
    font-weight: bold;
}

/* Estilização da fonte do Formulário */
form {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/* Estilização dos Botões */
input[type="submit"], button {
    width: 200px;
    height: 25px;
    font-size: 15px;
    font-weight: bold;
    background-color: #31386b;
    color: white
}
input[type="reset"], button {
    width: 200px;
    height: 25px;
    font-size: 15px;
    font-weight: bold;
    background-color: #31386b;
    color: white
}